body {
  margin: 0;
  padding: 0;
  background-color: yellowgreen;
}

.App {
  width: 100%;
  max-width: 1900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.store-name, .store-details {
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
}

.store-name h1, .store-name h4, .store-details h1, .store-details h4 {
  margin-left: 2rem;
}

.store-name .store-detailed-info, .store-details .store-detailed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -30px;
}

.store-name .store-detailed-info li, .store-details .store-detailed-info li {
  list-style-type: none;
}

.store-name .store-detailed-info li svg, .store-details .store-detailed-info li svg {
  margin-right: 1rem;
}

.store-map {
  width: 100%;
  height: calc(100% - 200px);
}

.shopping-list {
  width: 90%;
  height: 1000px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: white;
  color: black;
  text-align: left;
  margin: auto;
  padding-left: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shopping-list button {
  width: 90%;
  border-style: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
}

.item-locator {
  width: 150px;
  height: 220px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 15px;
  background-color: yellow;
  color: black;
  text-align: center;
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-locator .close-button {
  border-style: none;
  background-color: transparent;
  font-weight: bold;
  padding: 10px 10px 0 0;
  position: absolute;
  right: 2px;
}

.item-locator .got-it-button {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: 85%;
  margin: auto;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.item-locator svg {
  color: #ce0303;
  font-size: 60px;
  margin: auto;
}

.hide {
  display: none;
}
/*# sourceMappingURL=App.css.map */