$PRIMARY_COMPANY_COLOUR: yellowgreen;
$SECONDARY_COMPANY_COLOUR: yellow;

body  {
    margin: 0;
    padding: 0;
    background-color: $PRIMARY_COMPANY_COLOUR;
}

.App  {
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.left-side  {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.right-side  {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.store-name, .store-details  {
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;

    h1, h4  {
        margin-left: 2rem;
    }

    .store-detailed-info  {
        display: flex;
        flex-direction: row;
        margin-top: -30px;

        li  {
            list-style-type: none;

            svg  {
                margin-right: 1rem;
            }
        }
    }
}

.store-map  {
    background: #f8f8f8;
    border-style: solid;
    border-width: 4px;
    border-color: #231F20;
    border-radius: 15px;
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 1rem 0;
    display: block;
}

.shopping-list  {
    width: 90%;
    height: 640px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: left;
    margin: auto;
    padding-left: 14px;
    box-sizing: border-box;

    input  {
        width: 90%;
        margin: auto;
        box-sizing: border-box;
        border-style: solid;
        border-radius: 5px 5px 0 0;
        font-size: 1rem;
        padding: 0.5rem;
        text-align: center;
    }

    button  {
        width: 90%;
        border-style: none;
        border-radius: 0 0 5px 5px;
        background-color: blue;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .shopping-list-item  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 2rem;
        width: 90%;
        padding: 4px;
        box-sizing: border-box;

        h5  {
            margin-top: 0;
        }
    }

    .shopping-list-item:nth-child(odd)  {
        background-color: lightgray;
    }

    .find-button  {
        font-size: 0.8rem;
        border-style: none;
        border-radius: 10px;
        width: 3rem;
        font-weight: bold;
    }

    .close-button  {
        font-size: 0.8rem;
        border-style: none;
        border-radius: 10px;
        width: 1.5rem;
        font-weight: bold;
        margin-left: 0.5rem;
        background-color: orange;
        color: black;
    }
}

.item-locator  {
    width: 150px;
    height: 220px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 15px;
    background-color: $SECONDARY_COMPANY_COLOUR;
    color: black;
    text-align: center;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;

    .close-button  {
        border-style: none;
        background-color: transparent;
        font-weight: bold;
        padding: 10px 10px 0 0;
        position: absolute;
        right: 2px;
    }

    .got-it-button  {
        background-color: white;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        box-sizing: border-box;
        border-radius: 2px;
        width: 85%;
        margin: auto;
        font-size: 0.7rem;
        text-transform: uppercase;
    }

    svg  {
        color: rgb(206, 3, 3);
        font-size: 60px;
        margin: auto;
    }
}

.hide  {
    display: none;
}