body {
  margin: 0;
  padding: 0;
  background-color: yellowgreen;
}

.App {
  width: 100%;
  max-width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

@media screen and (orientation: portrait) and (min-width: 320px) and (max-width: 480px) and (max-height: 740px) {
  .left-side {
    display: none;
  }
  .right-side {
    width: 100%;
    margin-top: 1.5rem;
  }
  .shopping-list {
    height: 640px;
  }
}

@media screen and (orientation: landscape) and (min-width: 320px) and (max-width: 853px) {
  .left-side {
    width: 100%;
  }
  .right-side {
    display: none;
  }
  .store-name {
    width: 100%;
    height: 64px;
  }
  .store-details {
    display: none;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .left-side {
    display: none;
  }
  .right-side {
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (max-height: 768px) and (max-width: 1024px) {
  .left-side {
    width: 100%;
  }
  .right-side {
    display: none;
  }
  .store-name {
    width: 100%;
  }
}

@media screen and (orientation: portrait) and (max-height: 1024px) and (max-width: 768px) {
  .right-side {
    width: 100%;
    margin-top: 1.5rem;
  }
  .left-side {
    display: none;
  }
  .store-name {
    width: 100%;
  }
  .shopping-list {
    height: 860px;
  }
}

@media screen and (min-width: 1367px) and (min-height: 1024px) {
  .left-side {
    width: 75%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-side {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.store-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.store-details {
  margin-top: -10px;
}

.store-name, .store-details {
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
}

.store-name h1, .store-name h4, .store-details h1, .store-details h4 {
  margin-left: 2rem;
}

.store-name .store-detailed-info, .store-details .store-detailed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -30px;
}

.store-name .store-detailed-info li, .store-details .store-detailed-info li {
  list-style-type: none;
}

.store-name .store-detailed-info li svg, .store-details .store-detailed-info li svg {
  margin-right: 1rem;
}

.store-map {
  background: #f8f8f8;
  border-style: solid;
  border-width: 4px;
  border-color: #231F20;
  border-radius: 15px;
  width: 1000px;
  height: 400px;
  position: relative;
  margin: 1rem 0;
  display: block;
}

.shopping-list {
  width: 90%;
  height: 640px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: white;
  color: black;
  text-align: left;
  margin: auto;
  padding-left: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shopping-list input {
  width: 90%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-radius: 5px 5px 0 0;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.shopping-list button {
  width: 90%;
  border-style: none;
  border-radius: 0 0 5px 5px;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.shopping-list .shopping-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 2rem;
  width: 90%;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shopping-list .shopping-list-item h5 {
  margin-top: 0;
}

.shopping-list .shopping-list-item:nth-child(odd) {
  background-color: lightgray;
}

.shopping-list .find-button {
  font-size: 0.8rem;
  border-style: none;
  border-radius: 10px;
  width: 3rem;
  font-weight: bold;
}

.shopping-list .close-button {
  font-size: 0.8rem;
  border-style: none;
  border-radius: 10px;
  width: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  background-color: orange;
  color: black;
}

.item-locator {
  width: 150px;
  height: 220px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 15px;
  background-color: yellow;
  color: black;
  text-align: center;
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-locator .close-button {
  border-style: none;
  background-color: transparent;
  font-weight: bold;
  padding: 10px 10px 0 0;
  position: absolute;
  right: 2px;
}

.item-locator .got-it-button {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: 85%;
  margin: auto;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.item-locator svg {
  color: #ce0303;
  font-size: 60px;
  margin: auto;
}

.hide {
  display: none;
}
/*# sourceMappingURL=App.css.map */